@using GoYes.Client.Api.Group
@using GoYes.Client.Module.GroupChat
@using GoYes.Client.Module.Shared
@inject GroupChatApi groupChatApi

<div>
    @foreach(var g in GroupList)
    {
        <div class="home-list">
            <MListItem>
                <MListItemAvatar>
                    <MImage Src="@g.HeadPortrait"></MImage>
                </MListItemAvatar>

                <MListItemContent>
                    <MListItemTitle>@((MarkupString) g.Name)</MListItemTitle>
                        <MListItemSubtitle>@((MarkupString) "虚拟内容")</MListItemSubtitle>
                    </MListItemContent>
                </MListItem>
            </div>
    }
</div>

@code {

    private List<GroupRecordListView> GroupList = new List<GroupRecordListView>();


    protected override async Task OnInitializedAsync()
    {
        GroupList = await groupChatApi.GetGroupRecordListAsync();

    }

}
