@page "/admin"

@using GoYes.Client.Api.Hubs
@using GoYes.Client.Api.Oss
@using GoYes.Client.Module.Shared
@using GoYes.Client.Pages.Admin.Friend
@using GoYes.Client.Pages.Admin.Home
@using GoYes.Client.Pages.Admin.Mine
@using GoYes.Client.Pages.Admin.World
@using GoYes.Client.Pages.Component
@using Microsoft.AspNetCore.SignalR.Client

@inject GoYesChatApi goyeschat
@inject OssApi ossApi
<div style="height:100%">
    <div class="main">
        <MAppBar Color="deep-purple accent-4"
                 Dense
                 Dark>
            <MAppBarNavIcon></MAppBarNavIcon>

            <MToolbarTitle>欢迎来到Token聊天世界</MToolbarTitle>

            <MSpacer></MSpacer>


            <MMenu Left
                   Bottom>
                <ActivatorContent>
                    <MButton Icon @attributes="@context.Attrs">
                        <MIcon>mdi-dots-vertical</MIcon>
                    </MButton>
                </ActivatorContent>
                <ChildContent>
                    <MenuListComponent />
                </ChildContent>
            </MMenu>
        </MAppBar>
        @if(page == AdminPages.Mine)
        {
            <Mine />
        }
        else if(page == AdminPages.World)
        {
            <World />
        }
        else if(page == AdminPages.Friend)
        {
            <Friend />
        }
        else
        {
            <Home />
        }


    </div>
    <div>
        <MTabs FixedTabs BackgroundColor="indigo" Dark>
            <MTab OnClick="()=>GoPage(AdminPages.Home)">首页</MTab>
            <MTab OnClick="()=>GoPage(AdminPages.Friend)">好友</MTab>
            <MTab OnClick="()=>GoPage(AdminPages.World)">世界</MTab>
            <MTab OnClick="()=>GoPage(AdminPages.Mine)">我的</MTab>
        </MTabs>
    </div>
</div>

@code {

    public AdminPages? page { get; set; }



    public void GoPage(AdminPages page)
    {
        this.page = page;
    }


    private async Task AddFriend()
    {
        await Task.CompletedTask;
    }



    /// <summary>
    /// 进入界面初始化操作
    /// </summary>
    /// <returns></returns>
    protected override async Task OnInitializedAsync()
    {
        await goyeschat.StartAsync();
    }
}
