@page "/admin/{page?}"

@using GoYes.Client.Api.Hubs
@using GoYes.Client.Pages.Admin.Friend
@using GoYes.Client.Pages.Admin.Home
@using GoYes.Client.Pages.Admin.Mine
@using GoYes.Client.Pages.Admin.World
@using GoYes.Client.Pages.Component
@using Microsoft.AspNetCore.SignalR.Client

@inject GoYesChatApi goyeschat

<div style="height:100%">
    <div class="main">
        <MAppBar Color="deep-purple accent-4"
                 Dense
                 Dark>
            <MAppBarNavIcon></MAppBarNavIcon>

            <MToolbarTitle>欢迎来到Token聊天世界</MToolbarTitle>

            <MSpacer></MSpacer>


            <MMenu Left
                   Bottom>
                <ActivatorContent>
                    <MButton Icon @attributes="@context.Attrs">
                        <MIcon>mdi-dots-vertical</MIcon>
                    </MButton>
                </ActivatorContent>
                <ChildContent>
                    <MenuListComponent />
                </ChildContent>
            </MMenu>
        </MAppBar>
        @if(page == "mine")
        {
            <Mine />
        }
        else if(page == "world")
        {
            <World />
        }
        else if(page == "friend")
        {
            <Friend />
        }
        else
        {
            <Home />
        }
    </div>
    <div>
        <MTabs FixedTabs BackgroundColor="indigo" Dark>
            <MTab Href="/admin/home">首页</MTab>
            <MTab Href="/admin/friend">好友</MTab>
            <MTab Href="/admin/world">世界</MTab>
            <MTab Href="/admin/mine">我的</MTab>
        </MTabs>
    </div>
</div>

@code {
    [Parameter]

    public string? page { get; set; }

    public object? data { get; set; }

    private async Task AddFriend()
    {
        await Task.CompletedTask;
    }

    protected override async Task OnInitializedAsync()
    {
        await goyeschat.StartAsync();
    }
}
