@using Microsoft.AspNetCore.Components.Web
<MDialog @bind-Value="show"
         Transition="dialog-bottom-transition"
         MaxWidth="600">
    <ChildContent>
        <MCard>
            <MToolbar Color="primary"
                      Dark>
                Opening from the bottom
            </MToolbar>
            <MCardText>
                <div class="text-h2 pa-12">Hello world!</div>
            </MCardText>
            <MCardActions Class="justify-end">
                <MButton Text
                         OnClick="() => show = false">
                    关闭
                </MButton>
            </MCardActions>
        </MCard>
    </ChildContent>
</MDialog>

@code {
    [Parameter]
    public bool show { get; set; } = false;

    [Parameter]
    public EventCallback<MouseEventArgs> OnClose { get; set; }

    private bool isShowFriend = false;

    /// <summary>
    /// 搜索的账号
    /// </summary>
    private string? AccountNumber { get; set; }

    /// <summary>
    /// 添加好友事件
    /// </summary>
    /// <returns></returns>
    private async Task AddFriendsAsync()
    {
        isShowFriend = true;

    }
}
