.title {
    background-color: #5762e2;
    width: 50%;
    height: 100%;
    display: flex;
    float: left;
    flex-direction: column;
    justify-content: center;
}

.welcome {
    font-size: 35px;
}

.welcome-text {
    font-size: 18px;
}

.headword {
    position: absolute;
    text-align: center;
    width: 100%;
    height: 100%;
    align-items: center;
    text-align: center;
}



.right {
    width: 50%;
    float: right;
    align-items: center;
    text-align: center;

}
.inputs {
    padding: 30px;
    align-items: center;
    text-align: center;
}
.login {
    width: 100%;
    height: 100%;
}
.icon{

}
.welcome-back {
    font-size: 25px;
    font-weight: bold;
}
.right-welcome {
    align-items: center;
    text-align: center;

}
body {
    height: 100%;
    width: 100%;
}

html {
    height: 100%;
    width: 100%;
}
